@font-face {
  font-family: "Regular";
src:
  url("/InNotesBy/public/FONTS/Dosis-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
font-display: swap;
}

@font-face {
font-family: "Bold";
src:
  url("/InNotesBy/public/FONTS/Dosis-Bold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
font-display: swap;
}

:root {
  --buttons: rgba(66, 23, 95, 0.6);
  --buttons-hover: rgba(66, 23, 95, 1);
}

form {
  font-family: "Bold";
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

form .form__section,
form nav .nav__section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 0;
  gap: 1.2rem 1rem;
}

form nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.converter__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 33.8dvh;
  margin: 1rem 0;
}

.guide__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 30dvh;
  padding: 0 1rem;
}

.guide__section p {
  font-family: "Regular";
  font-size: 1.6rem;
  max-width: 54ch;
}

.guide__section ul {
  color: var(--tertiary-text);
  font-family: "Bold";
  font-size: 1.4rem;
  list-style-type: none;
}

.guide__section ul li {
  display: flex;
  align-items: center;
}

.guide__section ul li::before {
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23f1d7fd"%3E%3Ccircle cx="12" cy="12" r="10" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  height: 0.8rem;
  aspect-ratio: 1;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.input-file {
  display: none;
}

input[type="submit"], .button_label {
  background: var(--buttons);
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.1s;
  font-size: 1.4rem;
  font-family: "Bold";
}

input[type="submit"]:hover, .button_label:hover {
  background: var(--buttons-hover);
}

input[type="submit"] {
  border: none;
}

.nav__section label {
  font-size: 1.4rem;
  font-family: "Regular";
}

#nonless {
  appearance: none;
  -webkit-appearance: none;
  width: 1.8rem;
  aspect-ratio: 1;
  border: 1px solid #45374d;
  background: #FFF;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}

#nonless:checked {
  background: var(--buttons-hover);
}

#nonless::before {
  content: '✓';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 8px;
  font-size: 1.4rem;
  flex-shrink: 0;
  color: #FFF;
  position: absolute;
  opacity: 0;
}

#nonless:checked::before {
  opacity: 1;
}


#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 16rem;
  height: 10px;
  background: var(--buttons);
  outline: none;
  border-radius: 5px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--buttons-hover);
  border-radius: 50%;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--buttons-hover);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}


.header__mobile .header__mobile__items .header__mobile__link .header__mobile__logo:hover {
  background-position-x: -250px;
}

.header__box .header__items .header__link .header__logo:hover {
  background-position-x: -380px;
}

h1,
h1 span,
h2 {
  padding: 0 1rem;
  overflow: hidden;
}

h1,
h1 span {
  font-size: clamp(100% - 0.125rem, 10vw, 8rem);
}

h1 {
  display: flex;
}

h1 span {
  color: var(--tertiary-text);
}

h2 {
  font-size: clamp(100% - 0.125rem, 10vw, 3rem);
}

h2 span {
  background: linear-gradient(to right, #c08bfd, #fca6fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-table;
  text-align: center;
  text-wrap: balance;
}

.home {
  min-height: 0;
  padding-top: 7rem;
}

span[id] {
  scroll-margin-top: 16dvh;
}

.header__mobile .header__mobile__items .header__mobile__link .header__mobile__logo {
  font-size: 2.2rem;
}

@media (max-width: 800px) {
  .home {
    padding-top: 2rem;
  }

  .guide__section {
    min-height: 35dvh;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: clamp(100% - 0.125rem, 22vw, 7rem);
    flex-direction: column;
  }

  h2 {
    font-size: clamp(100% - 0.125rem, 10vw, 2.4rem);
  }
}